/* main page animation effect */
@keyframes slogan_effect{
  0%{opacity:0; right:-100px;}
  100%{opacity:1; right:0;}
}

@keyframes img_effect{
  0%{transform:translateY(40%); opacity:0; right:0;}
  50%{transform:translateY(0); opacity:1; right:0;}
  100%{transform:translateY(-100px, 0); opacity:1; right:10%;}
}

@keyframes txt_effect{
  0%{opacity:0; right:200px;}
  100%{opacity:1; right:0;}
}

/* about tap panel fade up effect */
@keyframes fadeUp-1{
  0%{opacity:0; transform:translateY(30px)}
  100%{opacity:1; transform:translateY(0)}
}

@keyframes fadeUp-2{
  0%{opacity:0; transform:translateY(30px)}
  100%{opacity:1; transform:translateY(0)}
}

/* images page main image effect */
@keyframes imgScale{
  0%{transform:scale(1);}
  100%{transform:scale(1.1);}
}
