/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* reset css */
*{margin:0; padding:0;}
a{text-decoration:none;}
img{display:block;}
ol, ul{list-style:none;}

/* reset layout css */
.center{width:100%; height:auto; max-width:1280px; margin:auto;}
.clear:after{display:block; content:''; clear:both;}

/* general css */
body{font-size:14px; font-family: 'Poppins', sans-serif;}
.wrap{width:100%; height:auto; overflow:hidden;}
.section{width:100%; height:auto; padding:120px 0;}

/* section title common css */
.secTit{width:100%; height:auto; text-align:center;}
.secTit h1{font-size:30px; padding-bottom:10px; text-transform:uppercase; position:relative; width:35%; margin:auto;}
.secTit h1:after{width:100%; height:2px; position:absolute; display:block; content:''; background:#62a0d1; left:0; bottom:0;}
.secTit p{width:70%; margin:auto; line-height:1.6; margin:20px auto 20px auto; color:#aaa;}

/* button common css */
.btnBox{width:100%; height:auto; text-align:center; margin-bottom:20px;}
.btnBox .btn{color:#fff; background:#62a0d1; display:inline-block; border:0; outline:0; padding:10px 20px;}

/* main section css */
.main_section{width:100%; height:100vh; position:relative; background:url(../images/main_image.png) no-repeat center center; background-size:cover;}

/* header css */
header{width:100%; height:auto; background:rgba(0,0,0,0.6); position:relative; z-index:9999;}
header .logo{float:left; width:155px; padding:19px 0;}
header .logo img{width:100%;}
header .gnb{float:right; position:relative;}
header .gnb span{position:absolute; width:100%; height:2px; background:#62a0d1; left:0; bottom:0;}
header .gnb li{float:left;}
header .gnb li a{color:#fff; text-transform:uppercase; display:block; font-weight:400; padding:30px 20px;}
header .gnb li.active a{color:#62a0d1;}

header.on{background:#fff; box-shadow:0px 0px 15px #aaa;}
header.on .gnb li a{color:#101010;}
header.on .gnb li.active a{color:#62a0d1;}

.menuBtn{width:20px; height:20px; float:right; margin-top:26px; position:relative; background:transparent; display:none; transition:all 0.3s;}
.menuBtn>div{transition:all 0.3s;}
.menuBtn>div:nth-child(1){width:100%; height:2px; background:#fff; position:absolute; top:50%; transform:translateY(-50%);}
.menuBtn>div:nth-child(2){width:2px; height:100%; background:#fff; position:absolute; left:50%; transform:translateX(-50%);}

.menuBtn.on div{background:#fff;}
.menuBtn.on{transform:rotate(135deg);}
header.on .menuBtn>div{background:#101010;}

/* main page contents css */
.main_txt{width:100%; height:auto; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); max-width:1200px; display:flex; align-items:center;}
.main_txt>div{float:left;}
.main_txt>div.slogan{width:25%; text-align:right; z-index:10;}
.main_txt>div.slogan h1{color:#fff; font-size:60px; font-weight:700; line-height:0.9; text-transform:uppercase; opacity:0; position:relative;}

.main_txt>div.txt_img{width:55%; box-shadow:0px 0px 15px #000; position:relative; opacity:0;}

.main_txt>div.txt_img .overlay{width:100%; height:100%; position:absolute; left:0; top:0; display:block;background: linear-gradient(45deg, rgba(252,47,47,1) 0%,rgba(136,173,215,0) 91%,rgba(125,185,232,0) 100%);}
.main_txt>div.txt_img img{width:100%;}

.main_txt>div.txt_desc{width:20%; text-align:right; position:relative; opacity:0; }

/* animation effect sets */
.main_txt>div.slogan h1.effect1{animation:slogan_effect 0.6s 1; animation-fill-mode: forwards; animation-delay:1s;}
.main_txt>div.txt_img.effect2{animation:img_effect 1s 1; animation-fill-mode:forwards;}
.main_txt>div.txt_desc.effect3{animation:txt_effect 0.6s 1; animation-fill-mode: forwards;animation-delay:1.6s;}

.main_txt>div.txt_desc h2{width:100%; text-align:right; text-transform:uppercase; color:#62a0d1; padding: 0 0 10px 0; position:relative;}
.main_txt>div.txt_desc h2:after{content:''; display:block; width:180%; height:1px; position:absolute; bottom:0; right:0; background:#ccc;}
.main_txt>div.txt_desc p{width:100%; text-align:right; color:#fff; margin-top:10px;}
.main_txt>div.txt_desc a{display:inline-block; background:#62a0d1; text-transform:uppercase; padding:10px 20px; margin-top:10px; color:#fff;}

/* about section css */
.about .aboutTab{width:50%; height:auto; float:left;}
.about .aboutTab .tab{width:50%; height:auto; box-sizing:border-box; padding:5px; float:left;}
.about .aboutTab .tab>div{width:100%; height:100%; box-sizing:border-box; padding:5px; box-shadow:0 0 5px #111; position:relative;}
.about .aboutTab .tab>div>span{position:absolute; width:100%; height:100%; left:0; top:0; background:rgba(255, 255, 255, 0.8); opacity:0; visibility: hidden; transition:all 0.3s;}
.about .aboutTab .tab:hover>div>span,
.about .aboutTab .tab.on>div>span{opacity:1; visibility: visible;}

.about .aboutTab .tab>div>span>button{display:block; width:200px; text-align:center; padding:10px; color:#fff; background:#62a0d1; border:0; outline:0; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); cursor:pointer;}
.about .aboutTab .tab img{width:100%;}

.about .aboutPanel{width:50%; height:auto; float:right; box-sizing:border-box; padding:5px 0 0 30px; display:none;}
.about .aboutPanel .panelImg{width:100%; height:350px; box-sizing:border-box; padding:5px; overflow:hidden; box-shadow:0 0 5px #111; opacity:0; transform:translateY(30px);}
.about .aboutPanel .panelImg>div{width:100%; height:100%; overflow:hidden;}
.about .aboutPanel .panelImg img{width:100%;}
.about .panelTxtBox{width:100%; height:auto; padding:10px 0; box-sizing:border-box; opacity:0; transform:translateY(30px);}
.about .panelTxtBox .panelTit{width:100%; height:auto; margin-top:20px;}
.about .panelTxtBox h2{text-transform:uppercase; font-size:25px;}
.about .panelTxtBox .panelTit p{font-size:13px; line-height:1.6; font-weight:300; box-sizing:border-box; padding-left:20px; border-left:2px solid #62a0d1; margin-top:10px;}

.about .panelTxtBox .panelTxt{width:100%; height:auto; box-sizing:border-box; padding-left:20px;}
.about .panelTxtBox .panelTxt p{font-size:12px; line-height:1.4; margin-top:10px; color:#aaa;}

/* about panel fade up effect */
.about .aboutPanel .panelImg.fadeUp-1{animation:fadeUp-1 0.5s 1; animation-fill-mode:forwards;}
.about .aboutPanel .panelTxtBox.fadeUp-2{animation:fadeUp-2 0.5s 1; animation-fill-mode:forwards; animation-delay:0.5s;}

/* mobile tab style */
.mobileTab{width:100%; height:auto; text-align:center; padding:10px 0; box-sizing:border-box; display:none;}
.mobileTab button{display:block; border:1px solid #62a0d1; outline:0; color:#fff; box-sizing:border-box; padding:10px 0; width:25%; float:left; background:#62a0d1; border-left:1px solid #fff; transition:all 0.3s;}
.mobileTab button:nth-child(1){border-left:1px solid #62a0d1;}

.mobileTab button:hover,
.mobileTab button.on{background:#fff; color:#62a0d1;}

/* images page css */
.images{width:100%; height:auto; background:url(../images/sub_section.jpg) no-repeat center center; background-size:cover;}
.images .secTit h1{color:#fff; text-shadow:0 0 5px #111;}
.images .secTit p{color:#fff; text-shadow:0 0 3px #111;}

.images .imageBox{width:100%; height:auto;}
.images .imageBox .imgItem{width:25%; float:left; box-sizing:border-box; padding:5px;}
.images .imageBox .imgItem>div{width:100%; height:28vh; box-sizing:border-box; border:5px solid #fff; background:#fff; overflow:hidden; box-shadow:0 0 8px #111; position:relative;}
.images .imageBox .imgItem img{width:100%; position:relative; top:50%; transform:translateY(-50%);}

.imgItem span{position:absolute; width:100%; height:100%; background:rgba(255, 255, 255, 0.8); left:0; top:0; opacity:0; visibility: hidden; transition:all 0.3s;}
.imgItem span a{display:block; width:200px; text-align:center; padding:10px; color:#fff; background:#62a0d1; border:0; outline:0; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); cursor:pointer;}
.imgItem:hover span{opacity:1; visibility: visible;}

/* video section style */
.videos .videoBox{width:100%; height:auto; margin-top:30px;}
.videos .videoSec{width:50%; height: auto; float:left; box-sizing:border-box; padding:10px; box-shadow:0 0 8px #111;}
.videos .videoSec img{width:100%;}
.videos .videoSec .video{width:100%; height:100%; display:block;}

.videos .decSec{width:50%; height:auto; float:right; box-sizing:border-box; padding-left:30px;}
.videos .decSec h1{font-size:25px; font-weight:700; color:#62a0d1; 
text-shadow:0 0 1px #111;}
.videos .decSec p{margin:10px 0; color:#aaa; border-top:1px solid #aaa;
padding-top:10px;}
.videos .decSec h2{font-size:20px; font-weight:700; line-height:1.8;}
.videos .decSec h2 b{color:#62a0d1;}
.videos .decSec .btnBox{text-align:left; margin-top:20px;}

/* news section style */
.news{width:100%; height:auto; background:url(../images/news_img.jpg) no-repeat center center; background-size:cover;}
.news .center{position:relative;}
.news .secTit h1{color:#fff; text-shadow:0 0 5px #111;}
.news .secTit p{color:#fff; text-shadow:0 0 3px #111;}

.news .newsSlide{width:80%; margin:auto; height:auto; position:relative; overflow:hidden;}
.news .newsSlide .slideBox{width:100%; height:auto; position:relative;}
.news .newsSlide .slideItem{width:33.33%; float:left; box-sizing:border-box; padding:10px;}
.news .newsSlide .slideItem>div{box-sizing:border-box; padding:5px; background:#fff; width:100%; height:100%; box-shadow:0 0 5px #111;}
.news .newsSlide .slideItem .slideImg{width:100%; height:200px; overflow:hidden;}
.news .newsSlide .slideItem img{width:100%;}
.news .newsSlide .slideItem .slideTxt{width:100%; height:auto; margin-top:20px; text-align:center;}
.news .newsSlide .slideItem .slideTxt p{font-weight:400; padding:20px 0; border-top:1px solid #aaa;}

.news .slideNav{position:absolute; display:flex; justify-content: space-between; width:90%; top:65%; left:50%; transform:translateX(-50%);}
.news .slideNav button{font-size:25px; display:inline-block; color:#fff; background:#62a0d1; border:0; outline:0; padding:10px 20px; border-radius:50%; box-shadow:0 0 3px #111;}

footer{background:#202020; width:100%; height:auto; text-align:center;}
footer p{color:#fff; padding:20px 0; font-weight:500; text-transform:capitalize;}
footer p a{color:#62a0d1;}
footer p a:hover{text-decoration:underline;}

/* ==========================================================================
   Author's custom loading styles
   ========================================================================== */
   #loader-wrapper { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 99999; }
   #loader { display: block; position: relative; left: 50%; top: 50%; width: 70px; height: 70px; margin: -35px 0 0 -35px; border-radius: 50%; border: 2px solid transparent; border-top-color: #62a0d1; -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
   	animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */ z-index: 1001; }
   	#loader:before { content: ""; position: absolute; top: 5px; left: 5px; right: 5px; bottom: 5px; border-radius: 50%; border: 2px solid transparent;
   	border-top-color: #fff; -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
   animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */ }
   #loader:after { content: ""; position: absolute; top: 15px; left: 15px; right: 15px; bottom: 15px; border-radius: 50%; border: 2px solid transparent;
border-top-color: #e74c3c; -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */ animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */ }

@-webkit-keyframes spin {
	0%   { 
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}
@keyframes spin {
	0%   { 
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}

#loader-wrapper .loader-section { position: fixed; top: 0; width: 51%; height: 100%; background: #222222; z-index: 1000; -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */ transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */}

#loader-wrapper .loader-section.section-left {
	left: 0;
}

#loader-wrapper .loader-section.section-right {
	right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
	-webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
	transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */  
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
	-webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
	transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */  
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
	opacity: 0;  
	transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
	visibility: hidden;

	-webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */  /* IE 9 */
	transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */  
	transition: all 0.3s 1s ease-out;
}

/* ========================================== */
/* images page style */
.imgMain{width:100%; height:auto; position:relative; overflow:hidden;}
.imgMain img{width:100%; animation:imgScale 3s 1; animation-fill-mode:forwards;}
.imgMain .imgMainTxt{position:absolute; width:100%; max-width:1280px; height:auto; top:50%; left:50%; transform:translate(-50%, -50%);}
.imgMain .imgMainTxt p{color:#fff; font-weight:400; font-size:15px; text-shadow:0 0 3px #111;}
.imgMain .imgMainTxt h1{color:#62a0d1; font-weight:700; font-size:45px; text-shadow:0 0 3px #111;}
.imgMain .imgMainTxt a{display:inline-block; padding:10px 20px; background:#62a0d1; color:#fff; box-shadow:0 0 3px #111;}

.imgItems{width:100%; height:auto; margin-bottom:20px;}
.imgItems .imgItem{width:25%; height:250px; float:left; overflow:hidden; box-sizing:border-box; padding:5px;}
.imgItems .imgItem>div{width:100%; height:100%; box-sizing:border-box; border:5px solid #fff; box-shadow:0 0 5px #111; overflow:hidden; position:relative;}
.imgItems .imgItem>div>a{position:relative; top:50%; transform:translateY(-50%); display:block; width:100%; height:100%;}
.imgItems .imgItem>div>img{width:100%;}
.imgItems .imgItem>div>p{position:absolute; width:100%; height:100%; left:0; top:0; background:#101010; z-index:-1; display:flex; align-items: center; justify-content: center;}

/* images detail page style */
.imgDetail.section{padding:120px 0 50px 0;}
.imgDetail .secTit{text-align:left;}
.imgDetail .secTit h1{width:70%; text-align:center;}

.imgDetail .imgDetailBox{width:70%; margin:auto; box-sizing:border-box; padding:20px 0; box-shadow:0 0 3px #111;}
.imgDetail .imgDetailBox img{width:50%; margin:auto;}

.imgDetail .detailBtns{width:70%; margin:auto; margin-top:20px; display:flex; justify-content:space-between;}
.imgDetail .detailBtns a{display:block; padding:10px 20px; color:#fff; background:#62a0d1;}
.imgDetail .detailBtns a em{font-style:normal;}
.imgDetail .detailBtns a.prev i{margin-right:10px;}
.imgDetail .detailBtns a.next i{margin-left:10px;}

/* videos page style */
.vidMain{width:100%; height:60vh; overflow:hidden; background:#101010;}
.vidMain video{width:100%; max-width:1280px; margin:auto; position:relative; top:50%; transform:translateY(-50%); display:block; outline:0;}
.titleLine{width:100%; background:#101010; border-bottom:1px solid #bbb;}
.titleLine h3{color:#fff; width:100%; max-width:1280px; margin:auto; padding:15px 0; line-height:1.2; font-weight:500;}

.vidPage .vidItem{width:25%; height:auto; overflow:hidden; box-sizing:border-box; padding:5px; float:left;}
.vidPage .vidItem>div{width:100%; height:100%; box-sizing:border-box; border:5px solid #fff; box-shadow:0 0 3px #111;}
.vidPage .vidItem .vidBox{position:relative; height:auto; overflow:hidden;}
.vidPage .vidItem .vidBox img{width:100%; top:0; display:block;}
.vidPage .vidItem .fa{display:inline-block; color:#62a0d1; font-size:55px; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); cursor:pointer;}
.vidPage .vidItem .vidTxt{width:100%; height:50px; text-align:center;}
.vidPage .vidItem .vidTxt p{font-size:14px; font-weight:400; padding:10px 0;}
.vidPage .vidItem .btnBox{margin:10px 0;}
.vidPage .vidItem .btnBox .btn{font-size:12px;}

.vidPage .loadMoreBox{width:100%; text-align:center;}
.vidPage .loadMoreBox .loadMore{color:#fff; background:#62a0d1; padding:10px 20px; display:inline-block; margin-top:20px;}

/* video detail page style */
.vidDetail.section{padding:120px 0 50px 0;}
.vidDetail .secTit{text-align:left;}
.vidDetail .secTit h1{width:70%; text-align:center;}
.vidDetail .secTit h3{width:70%; margin:10px auto 0 auto;}
.vidDetail .secTit p{margin:10px auto;}
.vidDetail .secTit .youtube{color:#fff; padding:10px 20px; background:#62a0d1; display:inline-block;}

.vidDetail .vidDetailBox{width:70%; margin:auto; box-sizing:border-box; padding:10px 0; box-shadow:0 0 3px #111;}
.vidDetail .vidDetailBox video{width:100%; display:block;}

.vidDetail .detailBtns{width:70%; margin:20px auto 0 auto; display:flex; justify-content: space-between;}
.vidDetail .detailBtns a{display:block; padding:10px 20px; color:#fff; background:#62a0d1;}
.vidDetail .detailBtns a em{font-style:normal;}
.vidDetail .detailBtns a.prev i{margin-right:10px;}
.vidDetail .detailBtns a.next i{margin-left:10px;}

/* news page style */
.newsPage{position:relative; height:70vh; overflow:hidden;}
.newsPage img{width:100%;}
.newsPage .newsMainTxt{width:100%; max-width:1280px; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.newsPage .newsMainTxt h2{color:#62a0d1; font-weight:700; font-size:38px; line-height:1.2; text-shadow:0 0 3px #111;}
.newsPage .newsMainTxt p{color:#fff; font-weight:400; font-size:15px; text-shadow:0 0 3px #111; margin:20px 0;}
.newsPage .newsMainTxt em{font-style:normal; color:#fff; text-shadow:0 0 3px #111; font-weight:400; display:block;}
.newsLink{display:inline-block; margin-top:20px; color:#fff; padding:10px 20px; background:#62a0d1;}

.newsBox .newsItem{width:100%; height:auto; box-sizing:border-box; padding:5px; position:relative;}
.newsBox .newsItem > div{width:100%; height:100%; box-sizing:border-box; padding:20px 5px; box-shadow:0 0 3px #111; }

.newsBox .newsItem .flexOffset{display:flex;align-items:center;}
.newsBox .newsImg{width:25%;}
.newsBox .newsImg img{width:100%;}
.newsBox .newsItemTxt{width:75%; box-sizing:border-box; padding-left:30px;}
.newsBox .newsItemTxt h2{font-size:25px; line-height:1.2; color:#62a0d1;}
.newsBox .newsItemTxt p{font-size:14px; font-weight:400; color:#aaa; margin:10px 0;}
.newsBox .newsItemTxt em{font-style:normal; color:#aaa; display:block;}
.newsBox .btnBox{margin-top:10px;}
